body {
    height: 100vh;
    min-width: 100vw;
}

h1 {
    color: black;
    text-align: center;
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    font-size:4em;
}   

.upperNav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    font-size: 2em;
}

h2 {
    color: black;
    font-family: 'Times New Roman', Times, serif
}

h3 {
    color: white;
    font-family:"Raleway", sans-serif;
}

p {
    color: white;
    font-family: "Roboto", sans-serif;
}

.upperNav {
    color: #000;
    font-size: 1.7em;
    letter-spacing: 0.04em;
    padding: 1.0em 1.0em 0.5em;
    margin: 1.0em 0 ;
}
.upperNav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.upperNav li {
    display: inline-block;
    margin: 0;
}

section#sidebar {
    width: 238px;
    float: right;
    position: relative;
    display: block;
    background-color: #fff;
    margin: 1.5em 0 3.0em 1.5em;
    padding: 1.7em 0.5em 2.0em 1.7em;
    border-left: white solid 5px;
   }

#guitarImage, #drumImage, #bassImage, #micImage {
    margin-top: 2em;
}

#Guitars, #Drums, #Basses, #Other {
    border: white solid 2px;
    padding-bottom: 2em;
}


